/* 
   Hoja de estilos custom 
   Autor: guis
*/

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto|Tajawal|Cabin");

.shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
}
body {
  font-family: "Cabin", sans-serif;
}
.text-indigo {
  color: #435189;
}
.main-title {
  text-align: left;
}

.verde {
  filter: hue-rotate(120deg);
}
.amarillo {
  filter: hue-rotate(60deg) brightness(500%);
}

@media (max-width: 575px) {
  .display-4 {
    font-size: 1.5rem;
  }
  .day h5 {
    background-color: #f8f9fa;
    padding: 3px 5px 5px;
    margin: -8px -8px 8px -8px;
  }
  .date {
    padding-left: 4px;
  }
}

@media (min-width: 576px) {
  .day {
    height: 14.2857vw;
  }
}


.radio-teal [type="radio"]:checked+label:after {
  border-color: #4db6ac;
  background-color: #4db6ac;
}
/*Gap*/

.radio-teal-gap [type="radio"].with-gap:checked+label:before {
  border-color: #4db6ac;
}

.radio-teal-gap [type="radio"]:checked+label:after {
  border-color: #4db6ac;
  background-color: #4db6ac;
}

.modal-dialog.modal-notify.modal-orange .badge,.modal-dialog.modal-notify.modal-orange .modal-header{
  background-color:#ef6c00
}
.modal-dialog.modal-notify.modal-orange .fa{
  color:#ef6c00
}

.input-orange:focus + label {
  color: #ef6c00 !important; 
}

.input-orange:focus {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important; 
}

.input-teal:focus + label {
  color: #4db6ac !important; 
}

.input-teal:focus {
  border-bottom: 1px solid #4db6ac !important;
  box-shadow: 0 1px 0 0 #4db6ac !important; 
}

.dropdown.dropdown-menu.dropdown-orange.dropdown-item:active,.dropdown .dropdown-menu.dropdown-orange .dropdown-item:hover{
  background-color:#ef6c00!important
}

.dropdown-orange .dropdown-content li a,.dropdown-orange .dropdown-content li span:hover,.dropdown-orange .dropdown-content li.active{
  background-color:#ef6c00!important
}
.dropdown-orange .search-wrap input:focus{
  border-bottom:1px solid #ef6c00;
  -webkit-box-shadow:0 1px 0 0 #ef6c00;
  box-shadow:0 1px 0 0 #ef6c00
}