<!DOCTYPE html>
<html lang="en">
<head th:include="/fragments/head :: headFragment('Decademy')"></head>
<style>
	body {
		height: 100%;
		background-size: cover;
		background: url("img/fondo.png") no-repeat center fixed;
	}

</style>
<body class="fixed-sn">


   <header th:include="/fragments/navbar :: navbar('')"></header>

   <main class="h-100">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-8 m-auto">
               <header class="m-auto">
                  <img
                     class="img-fluid"
                     src="img/logo_decademy.png"
                     alt="logo"
                  >
               </header>
            </div>

            <div class="col-md-8 m-auto text-center text-white">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-12 mb-3">
                        <h4 class="shadow">
                           Una plataforma donde podrás encontrar tutorias personales y en linea, para que puedas mejor tus calificaciones o reforzar
                           los cursos que ya llevaste en la universidad. Tus tutores pueden ser tanto alumnos como
                           profesores y estarán ahí para ayudarte.
                        </h4>
                     </div>

                     <div class="col-12 mb-5">
                        <button class="btn btn-orange btn-lg">
                           <i class="fa fa-book"></i>
                           Explora los cursos
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>

	<div class="modal fade" id="modal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-notify modal-orange" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <p class="heading lead">Ingresar</p>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true" class="white-text">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body">
	                <form th:action="@{/login}" method="POST" th:object="${usuario}">
	                    <div class="text-center">
	                        <i class="fa fa-user-check  fa-4x mb-3 animated rotateIn"></i>
	                    </div>
						<div class="md-form form-sm mb-1">
		                  <i class="fa fa-user prefix"></i>
		
		                  <input type="text" th:field="*{username}"id="input_user" class="form-control form-control-sm validate input-orange"></input>
		
		                  <label for="input_user" >Usuario</label>
		               	</div>
		
		               <div class="md-form form-sm mb-4">
		                  <i class="fa fa-lock prefix"></i>
		
		                  <input
		                     type="password"
		                     id="input_password"
		                     class="form-control form-control-sm validate input-orange"
		                  ></input>
		
		                  <label for="input_password">Contraseña</label>
		               </div>
		
		               <div class="text-center mt-2">
		                 
	                     <button type="submit" class="btn btn-orange">
	                        <i class="fa fa-sign-in-alt ml-1"></i>
	                        Ingresar
	                     </button>
		               </div>	                    
	                </form>
	            </div>
	            <div class="modal-footer">
	               <div class="options text-center text-md-right mt-1">
	                  <p>
	                     Olvidaste tu
	
	                     <a
	                        href="#"
	                        class="blue-text"
	                     >contraseña?</a>
	                  </p>
	               </div>
	            </div>	        
	        </div>  
	    </div>
	</div>	

   <div th:include="/fragments/head :: finalSection"></div>
   <div th:include="/fragments/head :: scripts"></div>
</body>
</html>