<!DOCTYPE html>
<html lang="en">
<head th:include="/fragments/head :: headFragment(${curso})"></head>
<body class="fixed-sn">
    <style>
    .radio-teal [type="radio"]:checked+label:after {
        border-color: #4db6ac;
        background-color: #4db6ac;
    }
    /*Gap*/

    .radio-teal-gap [type="radio"].with-gap:checked+label:before {
        border-color: #4db6ac;
    }

    .radio-teal-gap [type="radio"]:checked+label:after {
        border-color: #4db6ac;
        background-color: #4db6ac;
    }
    </style>
    <header th:include="/fragments/navbar :: navbar(${curso})"></header>
    <main id="app" class="container-fluid mx-auto">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav md-pills pills-teal-light flex-column" role="tablist">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            data-toggle="tab"
                            href="#publicaciones"
                            role="tab"
                        >
                            <i class="fa fa-history mr-2"></i>
                            Publicaciones
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#temario"
                            role="tab"
                        >
                            <i class="fa fa-pencil-alt mr-2"></i>
                            Temario
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#retos"
                            role="tab"
                        >
                            <i class="fa fa-trophy mr-2"></i>
                            Retos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#info"
                            role="tab"
                        >
                            <i class="fa fa-info-circle mr-2"></i>
                            Información
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <!-- Tab panels -->
                <div class="tab-content vertical">
                    <!-- Publicaciones -->
                    <div class="tab-pane fade in show active" id="publicaciones" role="tabpanel">
                        <h3 class="mt-2 mb-4 h3">
                            <i class="fa fa-history mr-2"></i>
                            Publicaciones
                            <a
                                class="btn-floating my-auto btn-orange btn-sm float-right modal-button"
                                data-toggle="modal"
                                data-target="#nuevaPublicacion"
                                title="Nueva publicación"
                            >
                                <i class="fa fa-plus"></i>
                            </a>
                        </h3>
                        <div class="row">
                            <div class="col-md-12">
                                <post 
                                    v-for="(post, index) in publicaciones"
                                    v-bind:key="post.id"
                                    v-bind:id="index"
                                    v-bind:titulo="post.titulo"
                                    v-bind:contenido="post.contenido"
                                    v-bind:usuario="usuarioActual"
                                    v-bind:icono="post.icono"
                                >
                                </post>

                            </div>
                        </div>

                        <div
                            class="modal fade right"
                            id="nuevaPublicacion"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="myModalLabel"
                            aria-hidden="true"
                            data-backdrop="false"
                        >
                            <div class="modal-dialog modal-side modal-top-right modal-notify modal-warning" role="document">
                                <!-- Content -->

                                <div class="modal-content">
                                    <!-- Header -->
                                    <div class="modal-header">
                                        <p class="heading lead">Nueva Publicacion</p>

                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-label="Close"
                                        >
                                            <span
                                                aria-hidden="true"
                                                class="white-text"
                                            >&times;</span>
                                        </button>
                                    </div>

                                    <!-- Body -->

                                    <div class="modal-body">
                                        <div class="text-center">
                                            <i class="fa fa-newspaper fa-4x mb-3 animated rotateIn"></i>
                                        </div>
                                        <div>
                                            <p class="form-inline">
                                                <div class="input-group">
                                                    <select
                                                        class="mdb-select w-100"
                                                        v-model="publicacion.icono"
                                                    >
                                                        <option
                                                            v-for="tipo in tiposPublicacion"
                                                            v-bind:value="tipo.value"
                                                        >{{ tipo.type }}</option>
                                                    </select>

                                                    <label>Tipo de mensaje</label>
                                                </div>

                                                <div class="input-group md-form">
                                                    <input
                                                        type="text"
                                                        class="form-control px-0"
                                                        v-model="publicacion.titulo"
                                                        placeholder="¿Cúal es tu titulo del mensaje para los alumnos?"
                                                    ></input>

                                                    <label for="nuevoComentario">Titulo del mensaje</label>
                                                </div>

                                                <div class="input-group md-form">
                                                    <textarea
                                                        class="md-textarea form-control"
                                                        v-model="publicacion.contenido"
                                                        name="nuevoComentario"
                                                        id="nuevoComentario"
                                                        placeholder="¿Cúal es tu mensaje para los alumnos?"
                                                    ></textarea>

                                                    <label for="nuevoComentario">Mensaje</label>
                                                </div>
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Footer -->

                                    <div class="modal-footer justify-content-center">
                                        <a type="button"  class="btn btn-warning" v-on:click="addPublicacion">
                                            Publicar
                                            <i class="fa fa-share-square ml-1"></i>
                                        </a>

                                        <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Cancelar</a>
                                    </div>
                                </div>

                                <!-- /.Content -->
                            </div>
                        </div>
                    </div>
                    <!-- Temario -->
                    <div  class="tab-pane fade" id="temario" role="tabpanel" >
                        <h3 class="mt-2 mb-4 h3">
                            <i class="fa fa-pencil-alt mr-2"></i>
                            Temario
                        </h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="progress" style="height: 30px">
                                    <div
                                        class="progress-bar teal lighten-2"
                                        role="progressbar"
                                        v-bind:style="'width:' + porcentaje + '%; height: 30px'"
                                        v-bind:aria-valuenow="porcentaje"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        {{ progreso }}
                                    </div>
                                </div>
                            </div>
                            <div v-for="tema in temas" class="col-md-4 my-2">
                                <tema
                                    v-bind:titulo="tema.titulo"
                                    v-bind:descripcion="tema.descripcion"
                                    v-bind:save="tema.save"
                                    v-bind:estado="tema.estado"
                                >
                                </tema>
                            </div>
                        </div>
                    </div>
                    <!-- Retos -->
                    <div class="tab-pane fade" id="retos" role="tabpanel">
                        <h3 class="mt-2 mb-4 h3">
                            <i class="fa fa-trophy mr-2"></i>
                            Retos
                        </h3>
                        <div class="row">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs nav-justified teal-light" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#panel5" role="tab">
                                                    <i class="fa fa-dumbbell mr-2"></i> Propuestos
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#panel6" role="tab">
                                                    <i class="fa fa-file-alt mr-2"></i> Exámenes
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in show active p-3" id="panel5" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="propuestos-retos" class="carousel slide carousel-fade carousel-multi-item mb-0" data-ride="carousel" data-interval="false">
                                                            <div class="carousel-inner" role="listbox">
                                                                <div class="carousel-item active">
                                                                    <div class="card h-100">
                                                                        <div class="card-body m-2">
                                                                            <h4 class="card-title">¿Qué tipos de complejidad existen?</h4>
                                                                            <div class="card-text">
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio100">
                                                                                    <label class="form-check-label" for="radio100">Complejidad Temporal</label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio101">
                                                                                    <label class="form-check-label" for="radio101">Complejidad Espacial</label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio102">
                                                                                    <label class="form-check-label" for="radio102">Complejidad Espacial y Temporal</label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio103">
                                                                                    <label class="form-check-label" for="radio103">Ninguna de las anteriores</label>
                                                                                </div>                                                    
                                                                            </div>
                                                                            <div class="text-center">
                                                                                <button class="btn teal lighten-2">
                                                                                    <i class="fa fa-question mr-2"></i>
                                                                                    Evaluar
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <div class="card h-100">
                                                                        <div class="card-body m-2">
                                                                            <h4 class="card-title">¿Qué es la complejidad espacial?</h4>
                                                                            <div class="card-text">
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio100">
                                                                                    <label class="form-check-label" for="radio100">
                                                                                        Se refiere al tiempo que se demora en ejecutar un determinado algorítmo
                                                                                        para una determinidad cantidad de datos.
                                                                                    </label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio101">
                                                                                    <label class="form-check-label" for="radio101">
                                                                                        Se refiere a cuanto espacio ocupa en memoria principal de un determinado
                                                                                        algoritmo para una determinada cantidad de datos.
                                                                                    </label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio102">
                                                                                    <label class="form-check-label" for="radio102">
                                                                                        Se referiere a que tan dificil es encontrar el algoritmo adecuado para
                                                                                        un determinado problema.
                                                                                    </label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio103">
                                                                                    <label class="form-check-label" for="radio103">
                                                                                        Ninguna de las anteriores
                                                                                    </label>
                                                                                </div>                                                    
                                                                            </div>
                                                                            <div class="text-center">
                                                                                <button class="btn teal lighten-2">
                                                                                    <i class="fa fa-check"></i>
                                                                                    Evaluar
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <div class="card h-100">
                                                                        <div class="card-body m-2">
                                                                            <h4 class="card-title">¿Qué es la complejidad temporal?</h4>
                                                                            <div class="card-text">
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio100">
                                                                                    <label class="form-check-label" for="radio100">
                                                                                        Se refiere al tiempo que se demora en ejecutar un determinado algorítmo
                                                                                        para una determinidad cantidad de datos.
                                                                                    </label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio101">
                                                                                    <label class="form-check-label" for="radio101">
                                                                                        Se refiere a cuanto espacio ocupa en memoria principal de un determinado
                                                                                        algoritmo para una determinada cantidad de datos.
                                                                                    </label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio102">
                                                                                    <label class="form-check-label" for="radio102">
                                                                                        Se referiere a que tan dificil es encontrar el algoritmo adecuado para
                                                                                        un determinado problema.
                                                                                    </label>
                                                                                </div>
                                                                                <div class="form-check radio-teal">
                                                                                    <input class="form-check-input" name="group100" type="radio" id="radio103">
                                                                                    <label class="form-check-label" for="radio103">
                                                                                        Ninguna de las anteriores
                                                                                    </label>
                                                                                </div>                                                    
                                                                            </div>
                                                                            <div class="text-center">
                                                                                <button class="btn teal lighten-2">
                                                                                    <i class="fa fa-check"></i>
                                                                                    Evaluar
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="controls-top mt-2">
                                                                <a class="btn-floating teal lighten-2" href="#propuestos-retos" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                                                                <a class="btn-floating teal lighten-2" href="#propuestos-retos" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                                                            </div>                                                             
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade p-4" id="panel6" role="tabpanel">
                                                <div class="list-group list-group-flush">
                                                    <a th:href="@{/retos/algo3/1}" class="list-group-item list-group-item-action flex-column align-items-start">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Complejidad Algoritmica 
                                                            <span class="ml-2 badge teal lighten-2 py-2">
                                                                <i class="fa fa-check-circle mr-2"></i>
                                                                Completado
                                                            </span>
                                                        </h5>
                                                        <small>Hace 3 dias</small>
                                                        </div>
                                                        <p class="mb-1">
                                                            <h6 class="h6">
                                                                <i class="fa fa-bookmark mr-2"></i>
                                                                ¿Qué temas vendrán?
                                                            </h6>
                                                            <ul>
                                                                <li>Complejidad Espacial</li>
                                                                <li>Complejidad Temporal</li>
                                                                <li>Problemas P/NP</li>
                                                            </ul>
                                                        </p>
                                                    </a>
                                                    <a th:href="@{/retos/algo3/2}" class="list-group-item list-group-item-action flex-column align-items-start">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Análisis de Estructuras de Control</h5>
                                                        <small>Hace 5 dias</small>
                                                        </div>
                                                        <p class="mb-1">
                                                            <h6 class="h6">
                                                                <i class="fa fa-bookmark mr-2"></i>
                                                                ¿Qué temas vendrán?
                                                            </h6>
                                                            <ul>
                                                                <li>Análisis de Secuencias</li>
                                                                <li>Análisis de Condicionales</li>
                                                                <li>Análisis de Bucles</li>
                                                            </ul>
                                                        </p>
                                                    </a>                                                    
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="info" role="tabpanel">
                        <h3 class="mt-2 mb-4 h3">
                            <i class="fa fa-info-circle mr-2"></i>
                            Información
                        </h3>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li v-for="info in informacion" class="list-group-item flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-3 h6">
                                                <i v-bind:class="info.icono + ' mr-2'"></i> {{ info.titulo }}
                                            </h5>
                                        </div>
                                        <p class="mb-1 h5">{{ info.descripcion }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:include="/fragments/head :: finalSection"></div>
    <div th:include="/fragments/head :: scripts"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <!-- Componente publicacion -->
    <template id="tPublicacion">
        <div class="card mb-3">
            <div class="card-body p-4">
                <h4 class="card-title">
                    <i v-bind:class="icono + ' mr-2'"></i>
                    {{ titulo }}
                </h4>
                <p class="card-text mb-1">{{ contenido }}</p>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="md-form input-group mt-1">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Comentario"
                                id="comentario"
                                v-model="comentarioActual"
                            ></input>

                            <div class="input-group-append">
                                <button class="btn teal lighten-2" type="button" v-on:click="addComentario">
                                    <i class="fas fa-paper-plane mr-2"></i>
                                    Comentar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 my-0">
                        <div class="accordion" id="accordionEx" role="tablist"  aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header px-0" role="tab" id="headingOne">
                                    <a data-toggle="collapse" v-bind:href="'#comentario' + id"  aria-expanded="true" v-bind:aria-controls="'comentario' + id">
                                        <h6 class="teal-text mb-0 h6">
                                            <i class="fa fa-comments mr-2"></i>
                                            Todos los comentarios
                                            <i class="fa fa-angle-down rotate-icon"></i>
                                        </h6>
                                    </a>
                                </div>

                                <div v-bind:id="'comentario' + id" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush">
                                            <li v-for="c in comentarios" v-bind:key="c.comentario" class="list-group-item" >
                                                <div class="media">
                                                    <img
                                                        class="d-flex align-self-start mr-3 rounded-circle"
                                                        v-bind:src="c.usuario.imgPerfil"
                                                        width="80"
                                                        height="80"
                                                    >

                                                    <div class="media-body">
                                                        <h5 class="mt-0 font-weight-bold">{{ c.usuario.username }}</h5>
                                                        <p>{{ c.comentario }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rounded-bottom teal lighten-2 text-center pt-3">
                <ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2 white-text">
                        <i class="fa fa-calendar-alt pr-1"></i>
                        {{ fechaPublicacion | moment }}
                    </li>

                    <li class="list-inline-item pr-2">
                        <a
                            href="#"
                            class="white-text"
                        >
                            <i class="fa fa-comments pr-1"></i>
                            {{ comentarios.length }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <!-- Componente tema -->
    <template id="tTema">
        <div class="card mb-r mx-2 h-100">
            <div class="card-body">
                <h4 class="card-title">
                    {{ titulo }}
                    <i v-if="estado" class="fa fa-check-circle teal-text"></i>
                </h4>
                <p> {{ descripcion }}</p>


            </div>
            <div class="card-footer text-center text-indigo mb-0">
                <a
                    class="btn btn-flat btn-lg px-1 my-0 mx-3"
                    v-bind:class="{ disabled: !estado }"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Guardar en la nube"
                    v-on:click="verGuardarNube"
                >
                    <i class="fa fa-cloud-download-alt"></i>
                </a>
                <a
                    class="btn btn-flat btn-lg px-1 my-0 mx-3"
                    v-bind:class="{ disabled: !estado }"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Ver clase grabada en YouTube"
                    v-bind:href="save.videoURL"
                    target="_blank"
                >
                    <i class="fab fa-youtube"></i>
                </a>
                <a
                    class="btn btn-flat btn-lg px-1 my-0 mx-3 modal-button"
                    v-bind:class="{ disabled: !estado }"
                    data-toggle="modal"
                    data-placement="bottom"
                    title="Archivos de la clase"
                    v-bind:data-target="'#archivosModal_' + titulo"
                >
                    <i class="fa fa-folder"></i>
                </a>
            </div>
            <!-- Modal Archivos -->
            <div class="modal fade" v-bind:id="'archivosModal_' + titulo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-notify modal-warning modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="heading lead">Archivos</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="text-center">
                                    <i class="fa fa-file-alt fa-4x mb-3 animated rotateIn"></i>
                                </div>
                                <ul class="list-group items">
                                    <li v-for="file in save.folders" class="list-group-item">
                                        <span class="my-1">
                                            <i v-bind:class="file.type | icono"></i>
                                            <span class="ml-2">{{ file.name }}</span>
                                        </span>
                                        <a 
                                            v-on:click="changeTooltip(file)"
                                            class="btn btn-warning btn-sm float-right m-0 px-3" 
                                            data-toggle="tooltip" 
                                            title="Descargando"
                                            v-bind:data-original-title="file.estado"
                                            v-bind:href="'/docs/' + file.name"
                                            v-bind:download="file.name"
                                        >
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </template>

    <script th:inline="javascript">
        var curso = /*[[${curso}]]*/ ""

        // Componente <tema></tema>
        Vue.component("tema", {
            template: "#tTema",
            props: [
                "titulo",
                "descripcion",
                "save",
                "estado"
            ],
            data(){
                return {
                    
                }
            },
            methods:{
                verGuardarNube(){
                    if(!this.save.estadoNube) {
                        this.save.estadoNube = true;
                        toastr.info(`<h5>Archivos guardados!</h5>El material de la clase ha sido guardado en la carpeta Decademy/${curso}/${this.titulo} de tu nube personal.`);
                    } else {
                        toastr.error(`<h5>Archivos ya están guardados!</h5>El material de la clase ya ha sido guardado en la carpeta Decademy/${curso}/${this.titulo} de tu nube personal.`);
                    }
                    
                },
                changeTooltip(file){
                    file.estado = "Descarga en curso!"
                    $("[data-toggle='tooltip']").tooltip();
                }
            },
            filters: {
                icono(type){
                    let iconType =  {
                        "pdf": "fa fa-file-pdf",
                        "xlsx": "fa fa-file-excel",
                        "docx": "fa fa-file-word"
                    };
                    return iconType[type];
                }
            }
        });
        // Componente <post> -> Representa una publicacion
        Vue.component('post',{
            template: "#tPublicacion",
            props:[
                "id",
                "usuario",
                "titulo",
                "contenido",
                "icono"
            ],
            data() {
                return {
                    comentarioActual: "",
                    comentarios: [],
                    fechaPublicacion: new Date()
                };
            },
            methods:{
                addComentario() {
                    let comentario = {
                        usuario: this.usuario, 
                        comentario: this.comentarioActual
                    };

                    this.comentarios.push(comentario);
                    this.comentarioActual = "";

                    toastr.options = { closeButton: true }
                    
                    toastr.info("<h5>Publicación exitosa!</h5> Genial! Tu comentario ha publicado");
                }
            },
            filters: {
                moment: function (date) {
                    return moment(date).format('DD/MM/YYYY, h:mm:ss a');
                }
            }
        });
        // Aplicacion Vue
        const app = new Vue({
            el: "#app",
            data: {
                porcentaje: 1 * 100/2,
                publicacion: {
                    titulo:"",
                    contenido:"",
                    icono: "fa fa-podcast",
                    comentarios: [],
                    fechaPublicacion: ""
                },
                tiposPublicacion: [
                    { value: "fa fa-podcast", type: "Comunicado"},
                    { value: "fa fa-flag", type: "Tarea" }
                ],
                usuarioActual: {
                    username: "Pedro Romero", 
                    imgPerfil: "/img/foto_perfil.jpg"   
                },
                informacion: [
                    { 
                        titulo: "Descripcion",
                        descripcion: ` 
                        Desarrollar algoritmos con la finalidad de fortalecer los conocimientos adquiridos, poniendo énfasis
                        en la eficiencia algorítmica, y las habilidades de elaboración de soluciones algorítmicas a problemas
                        basados en un conjunto de componentes que deben interactuar entre si.`,
                        icono: "fa fa-file"
                    },
                    { 
                        titulo: "Tutor",
                        descripcion: "Juan Espinoza",
                        icono: "fa fa-graduation-cap"
                    },
                    { 
                        titulo: "Tema actual",
                        index: 1,
                        descripcion: "Hoare",
                        icono: "fa fa-bookmark"
                    },
                    { 
                        titulo: "Horario",
                        descripcion: "Todos los jueves a las 2 pm",
                        icono: "fa fa-calendar-alt"
                    }
                ],
                publicaciones: [
                    {
                        titulo: "Comunicado a la clase",
                        icono: "fa fa-podcast",
                        contenido: "Buenos días jovenes, por motivo del partido de mañana de Perú - Dinamarca se suspemden las clases y se recuperaran de 6pm a 8pm",
                        comentarios: [
                            {
                                usuario: { 
                                    username: "Sarah Connor", 
                                    imgPerfil: "http://localhost:8080/img/perfil2.jpg" 
                                },
                                comentario: "Buena profe,ahora podremos ver el mundial tranquilos :')" 
                            }
                        ],
                        fechaPublicacion: new Date()
                    }
                ],
                temas: [
                    {
                        titulo:"Complejidad Algoritmica",
                        estado: true,
                        descripcion:"Complejidad Espacial, Temporal",
                        save: {
                            estadoNube: false,
                            nubeURL:"https://drive.google.com",
                            videoURL:"https://youtu.be/aEyEcH7SEmE",
                            folders: [
                                { name:"Sesión 01 - Complejidad algorítmica.pdf", type:"pdf", estado:"Descargar" }
                            ]
                        }
                    },
                    {
                        titulo:"Análisis de Estructuras de Control",
                        estado: false,
                        descripcion:"Como es el comportamiento de un algoritmo con estas estructuras",
                        save: {
                            estadoNube: false,
                            nubeURL:"https://drive.google.com",
                            videoURL:"https://youtu.be/Sibd8jSTdUQ",
                            folders: [
                                { name:"Sesión 02 - Análisis de las Estructuras de Control.pdf", type:"pdf", estado:"Descargar" }
                            ]
                        }
                    }
                ]
            },
            computed:{
                progreso(){
                    return `Tienes un ${this.porcentaje}% de progreso en el curso`; 
                }
            },
            methods:{
                addPublicacion(){
                    let publi = {
                        titulo:this.publicacion.titulo,
                        contenido:this.publicacion.contenido,
                        icono: this.publicacion.icono,
                        comentarios: [],
                        fechaPublicacion: new Date()
                    };
                    
                    $("#nuevaPublicacion").modal("hide");
                    toastr.options = { closeButton: true }
                    this.publicaciones.push(publi);
                    toastr.info("Genial! Has publicado un nuevo mensaje.");
                }
            },
            filters: {
                moment: function (date) {
                    return moment(date).format('DD/MM/YYYY, h:mm:ss a');
                }
            },
            mounted(){
                $('.mdb-select').material_select();
            }
        });
    </script>
</body>
</html>