<!DOCTYPE html>
<html lang="en">
<head th:include="/fragments/head :: headFragment('Explorar Cursos')">
</head>
<body class="fixed-sn">
	<header th:include="/fragments/navbar :: navbar('Explorar Cursos')"></header>
	<main>
		<div class="container-fluid text-justify">
			<div class="row">
				<div class="col-md-12">
					<form>
						<div class="form-inline form-sm md-form">
							<i class="fa fa-search" aria-hidden="true"></i>
							<input class="form-control ml-3 input-orange" style="width: 95%" type="text" placeholder="Buscar" aria-label="Buscar">
						</div>
						<div class="md-form">
							<select class="mdb-select" searchable="Buscar">
								<option value="1">Ingenierías</option>
								<option value="2">Humanidaes</option>
								<option value="3">Ciencias Básicas</option>
							</select>
						</div>
						<div class="md-form">
							<select class="mdb-select" searchable="Buscar">
								<option value="1">Ing. de Sistemas</option>
								<option value="2">Ciencias Físicas</option>
								<option value="3">Educación</option>
								<option value="4">Ciencias Economicas</option>
								<option value="5">Ciencias Matemáticas</option>
							</select>						
						</div>						
					</form>
				</div>
				<div class="col-md-12">
					<div class="card-deck mb-5">
						<div class="card mb-4 ml-4">
							<!-- Card image -->
							<div class="view overlay">
								<img class="card-img-top mx-auto d-block" th:src="@{/img/algoritmica.png}" alt="Card image cap">
							</div>
							<!-- Card content -->
							<div class="card-body">
								<!-- Title -->
								<h4 class="card-title text-center">Algorítmica 3</h4>
								<!-- Text -->
								<p class="card-text">
									Desarrollar algoritmos con la finalidad de fortalecer los conocimientos adquiridos, poniendo énfasis
									en la eficiencia algorítmica, y las habilidades de elaboración de soluciones algorítmicas a problemas
									basados en un conjunto de componentes que deben interactuar entre si.
								</p>
								<p class="text-center">
								<!-- Button -->
							</div>
							<div class="card-footer text-center">
								<a th:href="@{/explorar/profesores/algo3}" class="btn btn-orange mt-1">
									<i class="fa fa-info-circle"></i>
									Ver Más
								</a>
							</div>
						</div>
						<div class="card mb-4">
							<!-- Card image -->
							<div class="view overlay">
								<img class="card-img-top mx-auto d-block mb-2" th:src="@{/img/sistemas_operativos.png}" alt="Card image cap">
							</div>
							<!-- Card content -->
							<div class="card-body">
		
								<!-- Title -->
								<h4 class="card-title text-center">Sistemas Operativos</h4>
								<!-- Text -->
								<p class="card-text">
									Conocerás como se estructura un Sistema Operativo, la forma como trabaja internamente el sistema
									operativo la gestión de los procesos. Daremos un vistazo a los SO predominantes en el mercado
									actualmente
								</p>
							</div>
							<div class="card-footer text-center">
								<a th:href="@{/explorar/profesores/so}" class="btn btn-orange mt-1">
									<i class="fa fa-info-circle"></i>
									Ver Más
								</a>
							</div>
						</div>
						<div class="card mb-4 mr-4">
							<!-- Card image -->
							<div class="view overlay">
								<img class="card-img-top mx-auto d-block" th:src="@{/img/inteligencia_artificial.png}" alt="Card image cap">
							</div>
		
							<!-- Card content -->
							<div class="card-body">
								<!-- Title -->
								<h4 class="card-title text-center">Inteligencia Artificial</h4>
								<!-- Text -->
								<p class="card-text">
									En este curso aprenderemos los conceptos básicos asociados a la Inteligencia Artificial, las escuelas
									predominantes en esta área. Así como distintos algoritmos para la generación de la inteligencia
									en el computador
								</p>
							</div>
							<div class="card-footer text-center">
								<a th:href="@{/explorar/profesores/algo3}" class="btn btn-orange mt-1">
									<i class="fa fa-info-circle"></i>
									Ver Más
								</a>
							</div>
						</div>
					</div>					
				</div>
			</div>
			
		</div>
	</main>
	<div th:include="/fragments/head :: finalSection"></div>
	<div th:include="/fragments/head :: scripts"></div>
	<script>
		$(() => {
			$('.mdb-select').material_select();
		});
	</script>
</body>
</html>