<!DOCTYPE html>
<html lang="en">
<head th:include="/fragments/head :: headFragment('Explorar Cursos')">
</head>
<body class="fixed-sn">
	<header th:include="/fragments/navbar :: navbar('Explorar Cursos')"></header>
	<main>
		<div class="container-fluid text-justify">
			<div class="row">
				<div class="col-md-12">
					<form>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 mb-3">
									<div class="form-inline form-sm md-form">
										<i class="fa fa-search" aria-hidden="true"></i>
										<input class="form-control ml-3 input-orange" style="width: 95%" type="text" placeholder="Ingrese el nombre del curso" aria-label="Buscar por el nombre del curso">
									</div>
								</div>
								<div class="col-md-12">
									<h4>O filtrar por área y escuela profesional</h4>
								</div>
								<div class="col-md-6">
									<div class="md-form mt-0">
										<select class="mdb-select colorful-select dropdown-orange" searchable="Buscar area">
											<option value="1">Ingenierías</option>
											<option value="2">Humanidaes</option>
											<option value="3">Ciencias Básicas</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="md-form mt-0">
										<select class="mdb-select colorful-select dropdown-orange" searchable="Buscar carrera">
											<option value="1">Ing. de Sistemas</option>
											<option value="2">Ciencias Físicas</option>
											<option value="3">Educación</option>
											<option value="4">Ciencias Economicas</option>
											<option value="5">Ciencias Matemáticas</option>
										</select>						
									</div>										
								</div>
							</div>
						</div>					
					</form>
				</div>
				<div class="col-md-12">
					<div class="card-deck my-4">
						<div th:each="c : ${cursos}" class="card mb-4 ml-4">
							<!-- Card image -->
							<div class="view overlay">
								<img class="card-img-top mx-auto d-block" th:src="@{/img/__${c.perfil}__}" alt="Card image cap">
							</div>
							<!-- Card content -->
							<div class="card-body">
								<!-- Title -->
								<h4 class="card-title text-center">
									<span th:text="${c.nombre}"></span>
								</h4>
								<!-- Text -->
								<p class="card-text">
									<span th:text="${c.descripcion}"></span>
								</p>
								<p class="text-center">
								<!-- Button -->
							</div>
							<div class="card-footer text-center">
								<a th:href="@{/explorar/profesores/__${c.idCurso}__}" class="btn btn-orange mt-1">
									<i class="fa fa-plus mr-2"></i>
									Ver Más
								</a>
							</div>
						</div>
					</div>					
				</div>
			</div>
			
		</div>
	</main>
	<div th:include="/fragments/head :: finalSection"></div>
	<div th:include="/fragments/head :: scripts"></div>
	<script>
		$(() => {
			$('.mdb-select').material_select();
		});
	</script>
</body>
</html>