<!DOCTYPE html>
<html lang="en">

<head th:include="/fragments/head :: headFragment('')"></head>

<body class="fixed-sn">
    <style>
        .accordion.accordion-5 .card {
            border: 0;
            background-color: transparent;
        }

        .accordion.accordion-5 .card .card-header {
            border: 0;
            /*background-color: #4341b8;*/
            background-color: #4db6ac;
            -webkit-transition: .3s;
            transition: .3s;
        }

        .accordion.accordion-5 .card .card-header:hover {
            -webkit-transition: .3s;
            transition: .3s;
            background-color: #3a7c76;
        }

        .accordion.accordion-5 .card .card-header .fa {
            background-color: #fff;
            border-top-left-radius: 3px;
        }

        .accordion.accordion-5 .card .card-body {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    </style>
    <header th:include="/fragments/navbar :: navbar('')"></header>

    <main class="container-fluid ml-0">

        <!-- Card -->
        <!---->
        <div class="card card-image" style="background-image: url(\img\fondo_results_padres.jpg);"></div>
        <!-- Content -->
        <div class="py-5 px-4">
            <div class="row d-flex justify-content-center ">
                <div class="col-md-10 col-xl-8">

                    <!--Accordion wrapper-->
                    <div class="accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card Calificaciones -->
                        <div class="card mb-4">

                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30" aria-expanded="true" aria-controls="collapse30">
                                    <i class="fa fa-user-check fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="white-text mb-0 py-3 mt-1">
                                        Calificaciones
                                    </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse30" class="collapse show" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
                                <div class="card-body white-text z-depth-1">
                                    <div id="carousel" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel" data-slide-to="1"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="card-deck">
                                                    <!-- Card -->
                                                    <div class="card mb-6">
                                                        <!-- Card content -->
                                                        <div class="card-body" style="background-color: rgb(241, 255, 255);">
                                                            <!-- Title -->
                                                            <h4 class="card-title">
                                                                <a>Algorítmica 3</a>
                                                            </h4>
                                                            <div class="chartjs-wrapper">
                                                                <canvas id="chartjs-calif-a3" class="chartjs" width="419" height="209"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card -->
                                                    <!-- Card -->
                                                    <div class="card mb-6">
                                                        <!-- Card content -->
                                                        <div class="card-body" style="background-color: rgb(241, 255, 255);">
                                                            <!-- Title -->
                                                            <h4 class="card-title">
                                                                <a>Sistemas Operativos</a>
                                                            </h4>
                                                            <div class="chartjs-wrapper">
                                                                <canvas id="chartjs-calif-so" class="chartjs" width="419" height="209"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card -->
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="card-deck">
                                                    <!-- Card -->
                                                    <div class="card mb-6">
                                                        <!-- Card content -->
                                                        <div class="card-body" style="background-color: rgb(241, 255, 255);">
                                                            <!-- Title -->
                                                            <h4 class="card-title">
                                                                <a>Inteligencia Artificial</a>
                                                            </h4>
                                                            <div class="chartjs-wrapper">
                                                                <canvas id="chartjs-calif-ia" class="chartjs" width="419" height="209"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card -->
                                                    <!-- Card -->
                                                    <div class="card mb-6">
                                                        <!-- Card content -->
                                                        <div class="card-body" style="background-color: rgb(241, 255, 255);">
                                                            <!-- Title -->
                                                            <h4 class="card-title">
                                                                <a>Base de Datos 2</a>
                                                            </h4>
                                                            <div class="chartjs-wrapper">
                                                                <canvas id="chartjs-calif-bd2" class="chartjs" width="419" height="209"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card -->
                                                </div>
                                            </div>
                                        </div>

                                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fin Accordion card Calificaciones -->

                        <!-- Accordion card Progreso -->
                        <div class="card mb-4">

                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31" aria-expanded="true" aria-controls="collapse31">
                                    <i class="fa fa-thumbs-up fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="white-text mb-0 py-3 mt-1">
                                        Progreso
                                    </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading31" data-parent="#accordionEx5">
                                <div class="card-body white-text z-depth-1">
                                    <div id="carousel" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel" data-slide-to="1"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="card-deck">
                                                    <!-- Card -->
                                                    <div class="card mb-6">
                                                        <!-- Card content -->
                                                        <div class="card-body" style="background-color: rgb(241, 255, 255);">
                                                            <!-- Title -->
                                                            <h4 class="card-title">
                                                                <a>Algorítmica 3</a>
                                                            </h4>
                                                            <div class="chartjs-wrapper">
                                                                <canvas id="chartjs-a3" class="chartjs" width="419" height="209" style="display: block; width: 419px; height: 209px;"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card -->
                                                    <!-- Card -->
                                                    <div class="card mb-6">
                                                        <!-- Card content -->
                                                        <div class="card-body" style="background-color: rgb(241, 255, 255);">
                                                            <!-- Title -->
                                                            <h4 class="card-title">
                                                                <a>Sistemas Operativos</a>
                                                            </h4>
                                                            <div class="chartjs-wrapper">
                                                                <canvas id="chartjs-so" class="chartjs" width="419" height="209" style="display: block; width: 419px; height: 209px;"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card -->
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="card-deck">
                                                    <!-- Card -->
                                                    <div class="card mb-6">
                                                        <!-- Card content -->
                                                        <div class="card-body" style="background-color: rgb(241, 255, 255);">
                                                            <!-- Title -->
                                                            <h4 class="card-title">
                                                                <a>Inteligencia Artificial</a>
                                                            </h4>
                                                            <div class="chartjs-wrapper">
                                                                <canvas id="chartjs-ia" class="chartjs" width="419" height="209" style="display: block; width: 419px; height: 209px;"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card -->
                                                    <!-- Card -->
                                                    <div class="card mb-6">
                                                        <!-- Card content -->
                                                        <div class="card-body" style="background-color: rgb(241, 255, 255);">
                                                            <!-- Title -->
                                                            <h4 class="card-title">
                                                                <a>Base de Datos 2</a>
                                                            </h4>
                                                            <div class="chartjs-wrapper">
                                                                <canvas id="chartjs-bd2" class="chartjs" width="419" height="209" style="display: block; width: 419px; height: 209px;"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Card -->
                                                </div>
                                            </div>
                                        </div>

                                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- fin Accordion card Progreso -->

                        <!-- Accordion card Tareas -->
                        <div class="card mb-4">

                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32" aria-expanded="true" aria-controls="collapse32">
                                    <i class="fas fa-tasks fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="white-text mb-0 py-3 mt-1">
                                        Tareas Pendientes
                                    </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading32" data-parent="#accordionEx5">
                                <div class="card-body rgba-black-light white-text z-depth-1">
                                    <p class="p-md-4 mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                        ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- fin Accordion card Tareas-->

                        <!-- Accordion card Comentarios-->
                        <div class="card mb-4">

                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1" role="tab" id="heading33">
                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse33" aria-expanded="true" aria-controls="collapse32">
                                    <i class="fas fa-comment-dots fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="white-text mb-0 py-3 mt-1">
                                        Comentarios de los Profesores
                                    </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse33" class="collapse" role="tabpanel" aria-labelledby="heading33" data-parent="#accordionEx5">
                                <div class="card-body rgba-black-light white-text z-depth-1">
                                    <p class="p-md-4 mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                        ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- fin Accordion card Comentarios-->
                    </div>
                    <!--/.Accordion wrapper-->

                </div>
            </div>
        </div>
        <!-- Content -->
        </div>
        </div>
    </main>

    <div th:include="/fragments/head :: finalSection"></div>
    <div th:include="/fragments/head :: scripts"></div>
    <script>
        // Calificaciones
        new Chart(document.getElementById("chartjs-calif-a3"),
            {
                type: "bar",
                data: {
                    labels: ['12/05', '19/05', '26/05','28/05','03/06','10/06'],
                    datasets: [{
                        label: ['Nota de la sesión'],
                        data: ['18', '15', '16','12', '0', '0'],
                        backgroundColor: [  
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                        ]

                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        new Chart(document.getElementById("chartjs-calif-so"),
        {
                type: "bar",
                data: {
                    labels: ['13/05', '18/05', '24/05','30/05','05/06','08/06'],
                    datasets: [{
                        label: ['Nota de la sesión'],
                        data: ['15', '16', '16','0', '0', '0'],
                        backgroundColor: [  
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                        ]

                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        new Chart(document.getElementById("chartjs-calif-ia"),
        {
                type: "bar",
                data: {
                    labels: ['10/05', '14/05', '20/05','26/05','04/06','09/06'],
                    datasets: [{
                        label: ['Nota de la sesión'],
                        data: ['16', '13', '17','08', '0', '0'],
                        backgroundColor: [  
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                        ]

                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        new Chart(document.getElementById("chartjs-calif-bd2"),
        {
                type: "bar",
                data: {
                    labels: ['28/04', '06/05', '25/05','01/06','06/06','17/06'],
                    datasets: [{
                        label: ['Nota de la sesión'],
                        data: ['15', '16', '19','0', '0', '0'],
                        backgroundColor: [  
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                            'rgba(67, 65, 184, 0.8)',
                        ]

                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        // Progreso de Cursos
        new Chart(document.getElementById("chartjs-a3"),
            {
                "type": "doughnut",
                "data": {
                    "labels": ["1", "2"],
                    "datasets": [{
                        "data": ["12", "20"],
                        "backgroundColor": ["rgb(54, 162, 235,0.8)", "rgb(255, 99, 132,0.8)"]
                    }]
                }
            });
        new Chart(document.getElementById("chartjs-so"),
            {
                "type": "doughnut",
                "data": {
                    "labels": ["1", "2"],
                    "datasets": [{
                        "data": ["12", "20"],
                        "backgroundColor": ["rgb(54, 162, 235, 0.8)", "rgb(255, 99, 132,0.8)"]
                    }]
                }
            });
        new Chart(document.getElementById("chartjs-ia"),
            {
                "type": "doughnut",
                "data": {
                    "labels": ["1", "2"],
                    "datasets": [{
                        "data": ["12", "20"],
                        "backgroundColor": ["rgb(54, 162, 235, 0.8)", "rgb(255, 99, 132,0.8)"]
                    }]
                }
            });
        new Chart(document.getElementById("chartjs-bd2"),
            {
                "type": "doughnut",
                "data": {
                    "labels": ["1", "2"],
                    "datasets": [{
                        "data": ["12", "20"],
                        "backgroundColor": ["rgb(54, 162, 235, 0.6)", "rgb(255, 99, 132,0.6)"]
                    }]
                }
            });

        //Inicializar carousel
        $('#carousel').carousel({
            interval: 2500
        });
    </script>
</body>